# Tablolara Veri Ekleme

In [ ]:
import sqlite3 # Sqlite'yı dahil ediyoruz

con = sqlite3.connect("kütüphane.db") # Tabloya bağlanıyoruz.

cursor = con.cursor() # cursor isimli değişken veritabanı üzerinde işlem yapmak için kullanacağımız imleç olacak.

def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)") # Sorguyu çalıştırıyoruz.
    con.commit() # Sorgunun veritabanı üzerinde geçerli olması için commit işlemi gerekli.
tablo_oluştur()
con.close() # Bağlantıyı koparıyoruz.

Şimdi de **kitaplık** tablomuza veri eklemeye çalışalım. Çalıştıracağımız sorgu şu olacak;

**INSERT INTO kitaplık VALUES('İstanbul Hatırası','Ahmet Ümit','Everest',561)**

**Not** : SQL Sorguları büyük veya küçük harfle de yazılabilir. Örnek olarak

**insert into kitaplık values ('İstanbul Hatırası','Ahmet Ümit','Everest',561)**

**Insert Into kitaplık Values ('İstanbul Hatırası','Ahmet Ümit','Everest',561)**

In [ ]:
import sqlite3 

con = sqlite3.connect("kütüphane.db")

cursor = con.cursor() 

def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)") 
    con.commit()
def deger_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("INSERT INTO kitaplık VALUES('İstanbul Hatırası','Ahmet Ümit','Everest',261)")
    con.commit()
deger_ekle()
con.close()

Kullanıcıdan aldığımız değerleri tabloya eklemek:

In [ ]:
import sqlite3 

con = sqlite3.connect("kütüphane.db")

cursor = con.cursor() 

def tablo_oluştur():
    cursor.execute("CREATE TABLE IF NOT EXISTS kitaplık (İsim TEXT, Yazar TEXT, Yayınevi TEXT, Sayfa_Sayısı INT)") 
    con.commit()
def deger_ekle(isim,yazar,yayınevi,sayfa_sayısı):
    cursor.execute("INSERT INTO kitaplık VALUES(?,?,?,?)",(isim,yazar,yayınevi,sayfa_sayısı))
    con.commit()
isim = input("İsim:")
yazar = input("Yazar:")
yayınevi = input("Yayınevi:")
sayfa_sayısı =  int(input("Sayfa Sayısı:"))


deger_ekle(isim,yazar,yayınevi,sayfa_sayısı)

con.close()