# Merge, Join ve Concatenate

## Merge

Merge fonksiyonu, SQL tarzı birleştirmeleri gerçekleştirmek için kullanılır. İki veya daha fazla DataFrame'i belirli sütunları kullanarak birleştirmek için kullanılır. 

Farklı birleştirme türlerini belirtmek için how parametresi kullanılabilir. Örneğin:

- 'inner': Ortak değerlere sahip sütunları birleştirir.
- 'outer': Tüm değerleri içeren birleştirme yapar.
- 'left' veya 'right': İlgili DataFrame'deki tüm değerleri ve ortak olmayanları içeren birleştirme yapar.

In [3]:
import pandas as pd

# İlk DataFrame
df1 = pd.DataFrame({'id': [1, 2, 3],
                    'name': ['Alice', 'Bob', 'Charlie']})

# İkinci DataFrame
df2 = pd.DataFrame({'id': [2, 3, 4],
                    'age': [25, 30, 22]})

# 'id' sütunu üzerinden birleştirme
pd.merge(df1, df2, on='id')

   id     name  age
0   2      Bob   25
1   3  Charlie   30

Bu örnekte, id sütunu üzerinden iki DataFrame birleştiriliyor. Ortak id değerleri 2 ve 3 olduğu için, bu iki satır birleştiriliyor.

#### Inner Merge (İç Birleştirme):
Bu, yalnızca ortak değerlere sahip sütunları birleştirir.

In [4]:
pd.merge(df1, df2, on='id', how='inner')

   id     name  age
0   2      Bob   25
1   3  Charlie   30

#### Outer Merge (Dış Birleştirme):
Bu, tüm değerleri içeren birleştirme yapar.

In [5]:
pd.merge(df1, df2, on='id', how='outer')

   id     name   age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  30.0
3   4      NaN  22.0

#### Left Merge (Sol Birleştirme):
Bu, sol DataFrame'deki tüm değerleri ve ortak olmayanları içeren birleştirme yapar.

In [6]:
pd.merge(df1, df2, on='id', how='left')

   id     name   age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  30.0

#### Right Merge (Sağ Birleştirme):
Bu, sağ DataFrame'deki tüm değerleri ve ortak olmayanları içeren birleştirme yapar.

In [7]:
pd.merge(df1, df2, on='id', how='right')

   id     name  age
0   2      Bob   25
1   3  Charlie   30
2   4      NaN   22

## Join

join işlemi, iki DataFrame'in endeks veya sütunlarına dayalı olarak birleştirme yapar. Bu, genellikle merge işlemi ile benzerdir, ancak sütun isimleri yerine endeks veya sütunlar arasında birleştirme gerçekleştirilir.

In [9]:
import pandas as pd

# İlk DataFrame
df1 = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie']},
                   index=[1, 2, 3])

# İkinci DataFrame
df2 = pd.DataFrame({'age': [25, 30, 22]},
                   index=[2, 3, 4])

# Endeks üzerinden birleştirme
df1.join(df2, how='inner')

      name  age
2      Bob   25
3  Charlie   30

Bu örnekte, df1 DataFrame'inin endeksi ve df2 DataFrame'inin endeksi arasında ortak olan sadece 2 ve 3 değerleri bulunduğu için inner join sonucu bu değerleri içerir.

## Concatenate

concat fonksiyonu, DataFrame'leri birleştirmek için kullanılır, ancak bu işlem sütun veya endekslere dayalı değil, sadece eksen boyunca birleştirme yapar. Yani, DataFrame'leri alt alta veya yatayda birleştirmenizi sağlar.

Burada axis parametresi, birleştirme eksenini belirtir (axis=0 alt alta, axis=1 yatayda birleştirme yapar).

In [14]:
import pandas as pd

# İki DataFrame oluşturma
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7']})

# Alt alta birleştirme
result_vertical = pd.concat([df1, df2], axis=0)

# Yatayda birleştirme
result_horizontal = pd.concat([df1, df2], axis=1)

print("\nOrjinal Tablo 1:\n")
print(df1)

print("\nOrjinal Tablo 2:\n")
print(df2)

print("\nAlt Alta Birleştirme:\n")
print(result_vertical)

print("\nYatayda Birleştirme:\n")
print(result_horizontal)

Orjinal Tablo 1:

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

Orjinal Tablo 2:

    A   B
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7

Alt Alta Birleştirme:

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7

Yatayda Birleştirme:

    A   B   A   B
0  A0  B0  A4  B4
1  A1  B1  A5  B5
2  A2  B2  A6  B6
3  A3  B3  A7  B7

#### Anahtar Bazında Birleştirme

In [16]:
keys = ['key1', 'key2', 'key3']
result_with_keys = pd.concat([df1, df2], keys=keys)

print(result_with_keys)

         A   B
key1 0  A0  B0
     1  A1  B1
     2  A2  B2
     3  A3  B3
key2 0  A4  B4
     1  A5  B5
     2  A6  B6
     3  A7  B7