# DataFrame ve Series 

### DataFrame:

- DataFrame, Pandas'ın temel veri yapısıdır ve 2 boyutlu bir tabloya benzer.
- Birçok farklı türde veriyi depolamak için kullanılır. Sütunlar farklı tiplere sahip olabilir.
- İç içe geçmiş sözlüklere veya dizilere benzeyen bir yapıdır.
- Satır ve sütunları etiketler (labels) ile indekslenir.

### Series:

- Series, tek boyutlu ve indekslenmiş veri yapısını temsil eder.
- Bir sütunu veya veri setini temsil edebilir. DataFrame'deki her sütun aslında bir Series'tir.
- Verilerin bir dizisini ve onlara karşılık gelen indeksleri içerir.
- Bir diziye benzer şekilde indekslenir ve dilimlenebilir.

### DataFrame Oluşturma:

In [1]:
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}

df = pd.DataFrame(data)

In [2]:
df

   A  B
0  1  4
1  2  5
2  3  6

**CSV veya Excel dosyalarını okuyarak DataFrame oluşturulabilir. Aynı klasörde yer almaları önemli.**

In [ ]:
#örnek kullanım

df = pd.read_csv('veri.csv')

### DataFrame Özellikleri:
**shape**: DataFrame'in boyutunu (satır, sütun) döndürür.

In [4]:
df.shape  # (satır sayısı, sütun sayısı)

(3, 2)

**columns**: DataFrame sütunlarını döndürür.

In [5]:
df.columns

Index(['A', 'B'], dtype='object')

**head() ve tail()**: head ilk, tail son birkaç satırı görüntüler. Parantez içine satır sayısı yazılabilir.

In [6]:
df.head()  # İlk 5 satırı gösterir
df.tail() # Son 3 satırı gösterir

   A  B
0  1  4
1  2  5
2  3  6

### Series Oluşturma:
Bir liste veya dizi kullanarak oluşturmak:

In [7]:
s = pd.Series([10, 20, 30, 40])

Sözlük ile oluşturmak:

In [8]:
data = {'a': 10, 'b': 20, 'c': 30}
s = pd.Series(data)

### Series Özellikleri:
**index**: Serinin indekslerini döndürür.

In [9]:
s.index

Index(['a', 'b', 'c'], dtype='object')

**values**: Serinin değerlerini döndürür.

In [10]:
s.values

array([10, 20, 30], dtype=int64)

**dtype**: Serinin veri tipini döndürür.

In [11]:
s.dtype

dtype('int64')

### DataFrame ve Series Kullanımı:
- DataFrame içindeki bir sütuna Series olarak erişebilirsiniz.

In [13]:
df['A'] # Series olarak döner, parantez içine sütun adı yazılır

0    1
1    2
2    3
Name: A, dtype: int64

- Bir diğer kullanım şekli

In [14]:
df.A

0    1
1    2
2    3
Name: A, dtype: int64

- Series'in değerlerine ve indekslerine erişebilirsiniz.

In [15]:
s.values

array([10, 20, 30], dtype=int64)

In [16]:
s.index

Index(['a', 'b', 'c'], dtype='object')