# Temel İstatistik Hesaplamaları

In [1]:
import pandas as pd

# Örnek bir veri seti oluşturalım
veri = {'A': [10, 20, 30, 40, 50],
        'B': [5, 15, 25, 35, 45],
        'C': [2, 4, 6, 8, 10]}

df = pd.DataFrame(veri)

In [2]:
df

    A   B   C
0  10   5   2
1  20  15   4
2  30  25   6
3  40  35   8
4  50  45  10

**1. Ortalama (Mean) Hesaplama:** "_mean()_" fonksiyonu , her sütun için ayrı ayrı ortalama değeri hesaplar.

In [3]:
df.mean()

A    30.0
B    25.0
C     6.0
dtype: float64

**2. Medyan (Median) Hesaplama:**
Medyan, veri kümesinin ortasındaki değerdir. Verilerin sıralanmış bir liste halinde düşünüldüğünde, ortada bulunan değer medyandır.

In [4]:
df.median()

A    30.0
B    25.0
C     6.0
dtype: float64

**3. Standart Sapma (Standard Deviation) Hesaplama:**
Standart sapma, veri noktalarının ortalama değerden ne kadar yayıldığını ölçer. Düşük standart sapma, verilerin ortalama etrafında daha yakın olduğunu gösterirken, yüksek standart sapma verilerin daha geniş bir dağılıma sahip olduğunu gösterir.

In [5]:
df.std()

A    15.811388
B    15.811388
C     3.162278
dtype: float64

**4. Varyans (Variance) Hesaplama:**
Varyans, veri noktalarının ortalama değerden ne kadar uzakta olduğunu ölçer. Standart sapmanın karesi olarak hesaplanabilir.

In [6]:
df.var()

A    250.0
B    250.0
C     10.0
dtype: float64

**5. Minimum ve Maksimum Değerler:**

In [7]:
df.min()

A    10
B     5
C     2
dtype: int64

In [8]:
df.max()

A    50
B    45
C    10
dtype: int64

**6.Korelasyon Hesaplama:**
Korelasyon, iki değişken arasındaki ilişkiyi ölçer. corr() fonksiyonu kullanılarak Pearson korelasyon katsayısı hesaplanabilir.

In [9]:
df.corr()

     A    B    C
A  1.0  1.0  1.0
B  1.0  1.0  1.0
C  1.0  1.0  1.0

**7.İstatistiksel Özet Bilgi (Describe):**
describe() fonksiyonu, verilerin istatistiksel özetini sağlar. Bu fonksiyon ortalama, standart sapma, minimum, maksimum ve dört çeyreklik gibi bilgileri içerir.

In [11]:
df.describe().round(2)

           A      B      C
count   5.00   5.00   5.00
mean   30.00  25.00   6.00
std    15.81  15.81   3.16
min    10.00   5.00   2.00
25%    20.00  15.00   4.00
50%    30.00  25.00   6.00
75%    40.00  35.00   8.00
max    50.00  45.00  10.00