In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = {
        "Departman":["Bilişim","İnsan Kaynakları","Üretim","Üretim","Bilişim","İnsan Kaynakları"],
        "Çalışan": ["Mustafa","Jale","Kadir","Zeynep","Murat","Ahmet"],
        "Maaş":[3000,3500,2500,4500,4000,2000]
        }

In [3]:
df = pd.DataFrame(dataset)

In [4]:
df

          Departman  Çalışan  Maaş
0           Bilişim  Mustafa  3000
1  İnsan Kaynakları     Jale  3500
2            Üretim    Kadir  2500
3            Üretim   Zeynep  4500
4           Bilişim    Murat  4000
5  İnsan Kaynakları    Ahmet  2000

**Groupby**

Veri setinde departmana(Departman kolonu) göre toplam çalışan(Çalışan kolonu) sayısını görmek isteyelim.

In [5]:
df.groupby(by=['Departman']).count()

                  Çalışan  Maaş
Departman
Bilişim                 2     2
Üretim                  2     2
İnsan Kaynakları        2     2

Country kolonuna göre gruplayıp toplamlarını alma(Spesifik bir kolon için bakma)

In [6]:
df.groupby(by=['Departman']).count()['Çalışan']

Departman
Bilişim             2
Üretim              2
İnsan Kaynakları    2
Name: Çalışan, dtype: int64

In [7]:
df.groupby(by = ["Departman"]).max()['Maaş']

Departman
Bilişim             4000
Üretim              4500
İnsan Kaynakları    3500
Name: Maaş, dtype: int64

In [8]:
df.groupby(by=['Departman']).min()["Maaş"]["Bilişim"]

3000

In [9]:
df.groupby(by = ['Departman']).mean().loc["Bilişim"]["Maaş"]

C:\Users\msi\AppData\Local\Temp\ipykernel_616\4076592868.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by = ['Departman']).mean().loc["Bilişim"]["Maaş"]

3500.0

In [10]:
df.groupby(by=['Departman']).mean(numeric_only=True).loc["Bilişim"]["Maaş"] #hatayı almamak için

3500.0